
.body {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-image: url(./background.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  overflow-y: hidden;
}

.card {
  height: 550px;
 
}
.card {
  width: 340px;
  margin: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.footer{
  display: flex;
  flex-wrap: nowrap;
  
}
.footer > button{
  width: 85px;
  font-size: 10px;
  font-weight: bolder;
  border:none;
  padding-left: 10px;
  text-align: center;
  line-height: 55px;
  border-bottom: 0px solid transparent;
  background-color: white;
  
}

.footer > button:hover{
  border-bottom: 0px solid #8a84ff;
  background: linear-gradient(to bottom, rgba(207, 204, 255, 0.2) 0%, rgba(211, 226, 255, 0.4) 44%,rgba(138, 132, 255, 1) 100%);
}

.footer > button:focus{
  border-bottom: 0px solid #8a84ff;
  background: linear-gradient(to bottom, rgba(207, 204, 255, 0.2) 0%, rgba(211, 226, 255, 0.4) 44%,rgba(138, 132, 255, 1) 100%);
}
