.exp_cover{
    background-image: url(https://images.unsplash.com/photo-1566738780863-f9608f88f3a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80);
    }
  .exp_header {
    position: relative;
    display: flex;
    height: 100px;
    flex-shrink: 0;
    width: 100%;
    transition: 0.3s;
  }
  
  .exp_cover{
    position: absolute;
    width: 100%;
    height: 100px;
    filter: blur(60px);
    background-position: center;
    background-size: cover;
    top: -20;
    left: -20;
  }
  
  .exp_avatar {
    height: 70px;
    left: 7%;
    position: absolute;
    border-radius: 50px;
    bottom: 18px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.2);
  }
  
  .exp_fullname {
    position: absolute;
    font-size: 22px;
    left: 32%;
    bottom: 33%;
  }
  
  .exp_jobtitle{
    position: absolute;
    font-size: 14px;
    left: 32%;
    bottom: 17%;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
  }
  
  .exp_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 396.5px;
  }

  .edu_section > h2{
      padding-left: 20px;
      font-size: 16px;
  }

  .college_time{
      padding-left: 10px;
      font-size: 16px;
      display: flex;
  }
  .college_time > p {
      font-size: 13px;
      margin-top: 10px;
      margin-left: 8px;
  }

  .college_time > line {
    padding: 10px;
  }
  .timeline>p{
      font-size: 8px !important;
      margin: 0 !important;
  }
  .timeline{
      display: flex;
      flex-direction: column;
  }
  .timeline>svg{
      padding-left: 9px;
  }

  .college_time > p > ul>li>span{
    font-size: 10px;
    opacity: 0.7;
    font-weight: 500;
  }

  .work_time{
    padding-left: 10px;
    font-size: 16px;
    display: flex;
    margin-top: 5px;
}
.work_time > p {
    font-size: 13px;
    margin-top: 0px;
    margin-left: 8px;
}

.work_time > line {
  padding: 10px;
}
.work_timeline>p{
    font-size: 8px !important;
    margin: 0 !important;
}
.work_timeline{
    display: flex;
    flex-direction: column;
}
.work_timeline>svg{
    padding-left: 9px;
}

.work_time > p > ul>li>span{
  font-size: 10px;
  opacity: 0.7;
  font-weight: 500;
  padding-right: 50px;
}

.job_title{
  font-size: 10px;
}